<h2>Reactive: <small>Dinamics</small></h2>
<hr>

<form  autocomplete="off" [formGroup]="myFormDynamics" (ngSubmit)="save()">

        <!-- Name -->
    <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">Name</label>
        <div class="col-sm-9">
            <input class="form-control" 
                    placeholder="Name of the person" 
                    formControlName="name"  >
                    <span class="form-text text-danger"  
                          *ngIf="InvalidField( 'name' )"
                    >This field is required</span>
        </div>
    </div>

<!-- Add Favorite -->
    <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">Add</label>
        <div class="col-sm-9">

            
            <div class="input-group">
                <input class="form-control" 
                    placeholder="Add favorites" 
                    name="newGame"  >
                    <button class="btn btn-outline-primary"
                            type="button"
                             >
                        Add
                    </button>
            </div>
                
        </div>
    </div>

    <!-- Favorite games list -->
    <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">Favorites</label>
        <div class="col-sm-9" formArrayName="favorites">

            <div class="input-group" 
                ngClass=" mb-1" 
                *ngFor="let favorite of favoritesArr.controls; let i = index">
                
                <input class="form-control"
                       [formControlName]="i"> 

                        <button class="btn btn-outline-danger" 
                                type="button">
                            Remove
                        </button> 
            </div>

        </div>
    </div>





    <div class="row"> 
        <div class="col-sm-12">
        <button type="button"
                class="btn btn-primary float-end" 
                type="submit" >
                <!-- (click)="save()"" -->
                 Save </button>
        </div>
    </div>

</form>



 <div class="card">
    
    <div class="card-body">
      <h5 class="card-title">Json Results</h5>
      <div class="card-text">

<span>Valid</span>
<pre>{{ myFormDynamics.valid }}</pre>
<br>

<span>Value</span>
<pre>{{ myFormDynamics.value | json}}</pre>
<!-- <span>
    Person
</span>

<pre>{{ person | json }}</pre>
 -->

        </div> 
    </div>
</div>  